.headerSec {
  position: absolute;
  width: 100%;
  $this: &;
  top: 0;
  left: 0;

  &__inner {
    margin: auto;
    max-width: 1081px;
  }

  &__innerTop {
    padding-top: 32px;
    @include u-flex($ai: center);
  }

  &__figureArea {
    max-width: 228px;
  }

  &__contactBox {
    width: 100%;
    max-width: 148px;
    height: 48px;
    border: 1px solid $yellow;
    @include u-flex($ai: center, $jc: center);
    border-radius: 4px;
    transition: .5s ease;

    &:hover {
      background-color: $yellow;
      #{$this}__contactBoxText {
        color: $black;
      }
    }
  }

  &__contactBoxText {
    font: bold 12px/1.5 $OpenSans;
    color: $yellow;
    text-align: center;
    transition: .5s ease;
  }

  &__innerBottom {
    margin-top: 28px;
  }

  &__navList {
    @include u-flex($jc: center);
  }

  &__navListItem {
    &:not(:first-child) {
      margin-left: 42px;
    }
  }

  &__navListItemAnchor {
    font: 300 15px/1.5 $OpenSans;
    color: $white;
    transition: .5s ease;

    &:hover {
      color: $yellow;
    }
  }
}