-
    const projectList = [
        {
            link: 'https://dependent-soap.surge.sh/',
            image: 'x.png',
            title: 'Project X',
            labelClass: 'u-client',
            label: 'Client',
            desc: 'It is a project to discuss the difficulties and potential interest in the night life industry.',
        }
    ]